@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4" style="height: 80px; border-width: 0; align: left">
        <table class="table">
            <tr style="horizontal-align:left font-size: 80px">
                    <th style='width:7%'>InternalId</th>
                    <th style='width:7%'>TranDate</th>
                    <th style='width:7%'>Type</th>
                    <th style='width:7%'>Document #</th>
                    <th style='width:7%'>Status</th>
                    <th style='width:7%'>Location</th>
                    <th style='width:18%'>TransferLocation</th>
                    <th style='width:12%'>CreatedBy</th>
                    <th style='width:28%'>DeliveryInstruction</th>
            </tr>
        </table>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
